*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppings', sans-serif;
}
nav{
    padding: 10px 0;
    display: flex;
    text-align: center;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
    margin: 18px 20px;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: gray;
}
.logo{
    padding-top: 5px;
    padding-left: 50px;
}
ul li{
    padding-top: 10px;
    text-decoration: none;
    display: inline-block;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: orangered;
    color: whitesmoke;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 30px;
    padding-top:  12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.Home{
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}
.home_btn{
    text-decoration: none;
    font-weight: 400;
    background-color: orangered;
    color: whitesmoke;
    font-size: medium;
    padding: 10px 20px;
    margin-right: 5px;
    font-size: 20px;
}
.home_btn1{
    text-decoration: none;
    font-weight: 400;
    background-color: black;
    color: whitesmoke;
    font-size: medium;
    padding: 10px 20px;
    font-size: 20px;
}
.img{
    position: absolute;
    left: 55%;
    top: 25%;
    text-align: center;
    margin-left: 30px;
}
.image1{
    text-align: center;
    margin-top: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.image2{
    position: absolute;
    left: 34%;
    top: 123%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.image3{
    position: absolute;
    left: 65%;
    top: 123%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.services-btn{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px 30px 10px 30px;
    margin-left: 45%;
    position: absolute;
    margin-top: 7%;
    border-top-right-radius: 0;
} 
.buynow{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px 25px 10px 25px;
    margin-top: 4%;
    margin-left: 4%;
    position: absolute;
}
.imgorange{
    position: absolute;
    left: 70%;
    top: 225%;
    width: 250px;
    height: 180px;
}
.buynow2{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px 25px 10px 25px;
    margin-top: 4%;
    margin-left: 4%;
    position: absolute;
}
.imggrapes{
    position: absolute;
    left: 73%;
    top: 270%;
    width: 100px;
    height: 250px; 
}
.buynow3{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px 25px 10px 25px;
    margin-top: 4%;
    margin-left: 4%;
    position: absolute; 
}
.imgguava{
    position: absolute;
    left: 71%;
    top: 320%;
    width: 220px;
    height: 200px;
}
.sand-btn{
    position: absolute;
    text-decoration: none;
    color: whitesmoke;
    background-color: orangered;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 5%;
    margin-left: 6%;
}
.imgdish{
    position: absolute;
    left: 80%;
    top: 485%;
}
.footer1{
    position: absolute;
}
.footer2{
    position: absolute;
    left: 28%;

}
.footer3{
    position: absolute;
    left: 55%;
}
.footer4{
    position: absolute;
    left: 80%;
}